h1{
	text-align: center;
	background-color: lightgrey;
}

div{
	margin-left: 20%;
}

#ConstImage{
	display: block;
	width: 500px;
	height: 500px;
	margin: auto;
}

@keyframes toVisible{
	from { opacity: 0; }
	to { opacity: 1; }
}
