header {
    padding:  10px;
    text-align: center;
    background-color: #F15A22;
    color:  white;
    font-size: 20px;
}
.container {
    display: flex;
}

main {
    margin-left: 50px;
    margin-top: 20px;
}

nav {
    margin-top: 10px;
    background-color: #F15A22;
    min-width: 240px;
    padding-top: 10px;
    min-height: 500px;
    font-weight: bold;
}
#loading {
    text-align: center;
}

#loading p {
    font-size: 30px;
    font-weight: bold;
}

#index_main {
    background-color: #F6F6F6;
    width: 100%;
    margin-right: 50px;
    text-align: center;
    padding-top: 100px;
}

ul {
    list-style-type: none;
}
ul li {
    color: white;
    font-size: 19px;
    margin-top: 20px;
}

ul a {
    text-decoration: none;
}
ul a:link {
    color: white ;
}

ul a:visited {
    color:white;
}

ul a:hover {
    color: grey;
}

footer {
    margin-top: 10px;
    border-top: 1px solid black;
    padding:  25px;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    font-style: italic;
}

span {
    font-weight: bold;
    font-size: 15px;
}