.crumb {
    margin-top: 5px;
    margin-left: 10px;
    font-size: large;
    width: auto;
    background-color: white;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

.container {
    background-color: white;
    width: 98%;
    height: 90%;
    margin: 1%;
    padding: 1%
}