.container {    
    width: 100%;
    height: 100%;
}

.left {
    width: 70%;
    height: 90%;
    margin: 1%;
    background-color: white;
}

.right {
    width: 30%;
    height: 90%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: white;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
}

.crumb {
    margin-top: 5px;
    margin-left: 10px;
    font-size: large;
    width: auto;
    background-color: white;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

.step1 {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 5%;
}

.step2 {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 5%;
}

.step3 {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 5%;
}


.caption {
    margin-right: 65%;
    font-size: large;
    font-weight: bolder;
    height: 100%
}

.card {
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    text-align: left;
}

.card2 {
    background-color: Black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    text-align: left;
}

.img {
    width: 70px;
    height: 70px;
    margin: 3%;
}

.img img {
    width: 65px;
    height: 65px;
}

.name {
    margin: 4%;
    font-weight: bold;
    width: 450px;
}
.price {
    font-size: large;
    font-weight: bold;
    color: red;
}

.else {
    padding-left: 4%;
    padding-right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    border-bottom: 1px solid lightgray;
    display: flex;
}

.buttons {
    border-radius: 5px;
    width: 70%
}