.crumb {
    margin-top: 20px;
    margin-left: 30px;
    font-size: large;
}
button {
    border-radius: 5px;
}

.table{
    width: 500px;
    table-layout: fixed;
}

.table .content {
    width: 200px;
}

.table td {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
