.crumb {
    margin-top: 5px;
    margin-left: 10px;
    font-size: large;
    width: auto;
    background-color: white;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

button {
    border-radius: 5px;
}

.table{
    width: 500px;
    table-layout: fixed;
}

.table .content {
    width: 200px;
}

.table td {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    background-color: white;
    margin: 1%;
    height: 800px;
}

.prodImg {
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
}

.container h2 {
    text-align: left;
}

.detail {
    max-width: 600px;
}

.btnAddToCart, .buyNow {
    background-color: #f1da43;
    border: 0;
    color:black;
}

.btnAddToCart:hover, .buyNow:hover {
    background-color: #ffe854;
    color:black;
}