.listPage h2 {
    color: rgb(65, 84, 228);
    font-size: 1.4rem;
}

.crumb {
    margin-top: 5px;
    margin-left: 10px;
    font-size: large;
    width: auto;
    background-color: white;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

.listPage {
    margin: 1%;
    background-color: white;
    width: auto;
    padding: 1%
}

.category {
    margin: 1%;
    width: auto;
    background-color: #f1da43;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 50px;
    border-radius: 5px;
}

.category span {
    width: 100%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 162px;
    padding-right: 162px;
    font-size: 1rem;
    font-weight: bold;
}

.category span:not(span:last-of-type) {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 1px solid lightslategray;
}

.category span:hover {
    font-size: 1.2rem;
}

.category .highlight {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.randomItem span{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 330px;
    cursor: pointer;
}
.randomItem img {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.randomItem {
    list-style-type: none;
}

.catList {
    margin-top: 20px;
}

.catList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catList li {
    width: 320px;
}

.catList span {
    width: 300px;
}

.price {
    color: rgb(40, 36, 36);
    font-size: 1.2rem;
    font-weight: bold;
}

.catItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
